body {
  
}
#tempDiv {
	width: 100%;
    height: auto;
    bottom: 0px;
    top: 0px;
    left: 0;
    position: absolute;
    
}

h1 {
	font-family: 'open sans',arial,sans-serif;
	color: rgb(255,255,255);
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10vw;
}

h2 {
	font-family: 'open sans',arial,sans-serif;
	color: rgb(255,255,255);
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vw;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url('http://themes.googleusercontent.com/static/fonts/opensans/v5/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff') format('woff');
}